---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40"
>
  &copy; {today.getFullYear()} vmnog. All rights reserved.
  <div class="flex items-center gap-6 text-5xl">
    <a
      href="https://vmnog.com"
      target="_blank"
      class="py-1 pl-3 rounded-none border-1 border-black shadow-card hover:shadow-hover transition"
    >
      <Icon name="web" />
    </a>
    <a
      href="https://github.com/vmnog"
      target="_blank"
      class="border-1 p-2 size-14 flex items-center justify-center border-black rounded-full shadow-card hover:shadow-hover transition"
    >
      <Icon name="github" />
    </a>
    <a
      href="https://www.linkedin.com/in/vmnogueira/"
      target="_blank"
      class="border-1 p-2 size-14 flex items-center justify-center border-black rounded-full shadow-card hover:shadow-hover transition"
    >
      <Icon name="linkedin" />
    </a>
    <a
      href="https://www.x.com/caraquecoda/"
      target="_blank"
      class="size-14 flex items-center justify-center border-1 border-black rounded-full shadow-card hover:shadow-hover transition"
    >
      <Icon name="x" class="min-w-24" />
    </a>
  </div>
</footer>
