---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<section class="py-20 flex md:flex-row flex-col px-4 md:px-0 gap-10 md:gap-0">
  <div class="flex flex-col gap-6 justify-center items-center mx-auto text-center w-2/3">
    <h1 class="text-pblack">hi, my name is victor nogueira</h1>
    <p class="text-6xl font-bold text-balance tracking-[-0.25rem]">that dev who actually ships stuff.</p>
    <p>
    currently building <a href="/blog/dochelp" class="underline hover:cursor-pointer">@dochelp.ai</a>
    and delivering at <a href="https://www.caraquecoda.com.br" class="underline hover:cursor-pointer">@caraquecoda.</a>
    </p>
    <a
      rel="noopener noreferrer"
      href="mailto:me@vmnog.com"
      target="_blank"
      class="bg-pgray px-5 py-3 border-1 border-black rounded-none shadow-card hover:shadow-hover transition"
    >
      let's work together?
    </a>
  </div>
</section>
